 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1081px;
	 height: 1558px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Page1RECTANDEL1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1081px;
	 height: 1467px;
	 z-index:1;
} 

 #Page1LOGOW1 
{ 
	 left: 992px; 
	 top: 26px; 
	 position: absolute; 
	 width: 48px;
	 height: 42px;
	 z-index:2;
} 

 #Page1W1 
{ 
	 left: 851px; 
	 top: 41px; 
	 position: absolute; 
	 width: 100px;
	 height: 14px;
	 z-index:3;
} 

 #Page1W1_0 
{ 
	 left: 717px; 
	 top: 42px; 
	 position: absolute; 
	 width: 92px;
	 height: 13px;
	 z-index:4;
} 

 #Page1W1_1 
{ 
	 left: 608px; 
	 top: 40px; 
	 position: absolute; 
	 width: 67px;
	 height: 15px;
	 z-index:5;
} 

 #Page1W1_2 
{ 
	 left: 488px; 
	 top: 41px; 
	 position: absolute; 
	 width: 77px;
	 height: 14px;
	 z-index:6;
} 

 #Page1W1_3 
{ 
	 left: 374px; 
	 top: 41px; 
	 position: absolute; 
	 width: 71px;
	 height: 14px;
	 z-index:7;
} 

 #Page1W1_4 
{ 
	 left: 269px; 
	 top: 40px; 
	 position: absolute; 
	 width: 63px;
	 height: 15px;
	 z-index:8;
} 

 #Page1SEARCHW1 
{ 
	 left: 44px; 
	 top: 31px; 
	 position: absolute; 
	 width: 210px;
	 height: 33px;
	 z-index:9;
} 

 #Page1 
{ 
	 left: 384px; 
	 top: 193px; 
	 position: absolute; 
	 width: 319px;
	 height: 75px;
	 z-index:10;
} 

 #Page1_0 
{ 
	 left: 395px; 
	 top: 290px; 
	 position: absolute; 
	 width: 311px;
	 height: 25px;
	 z-index:11;
} 

 #Page1_1 
{ 
	 left: 537px; 
	 top: 319px; 
	 position: absolute; 
	 width: 170px;
	 height: 28px;
	 z-index:12;
} 

 #Page1_2 
{ 
	 left: 46px; 
	 top: 349px; 
	 position: absolute; 
	 width: 225px;
	 height: 47px;
	 z-index:13;
} 

 #Page1_3 
{ 
	 left: 545px; 
	 top: 137px; 
	 position: absolute; 
	 width: 161px;
	 height: 24px;
	 z-index:14;
} 

 #Page1_4 
{ 
	 left: 781px; 
	 top: 499px; 
	 position: absolute; 
	 width: 255px;
	 height: 29px;
	 z-index:15;
} 

 #Page1_5 
{ 
	 left: 126px; 
	 top: 359px; 
	 position: absolute; 
	 width: 104px;
	 height: 22px;
	 z-index:16;
} 

 #Page1_6 
{ 
	 left: 91px; 
	 top: 358px; 
	 position: absolute; 
	 width: 26px;
	 height: 23px;
	 z-index:17;
} 

 #Page1_7 
{ 
	 left: 911px; 
	 top: 1262px; 
	 position: absolute; 
	 width: 118px;
	 height: 22px;
	 z-index:18;
} 

 #Page1_8 
{ 
	 left: 560px; 
	 top: 1294px; 
	 position: absolute; 
	 width: 475px;
	 height: 59px;
	 z-index:19;
} 

 #Page1_9 
{ 
	 left: 947px; 
	 top: 1363px; 
	 position: absolute; 
	 width: 80px;
	 height: 14px;
	 z-index:20;
} 

 #Page1_10 
{ 
	 left: 902px; 
	 top: 1388px; 
	 position: absolute; 
	 width: 124px;
	 height: 48px;
	 z-index:21;
} 

 #Page1_11 
{ 
	 left: 961px; 
	 top: 830px; 
	 position: absolute; 
	 width: 77px;
	 height: 27px;
	 z-index:22;
} 

 #Page1_12 
{ 
	 left: 245px; 
	 top: 886px; 
	 position: absolute; 
	 width: 610px;
	 height: 272px;
	 z-index:23;
} 

 #Page135000 
{ 
	 left: 767px; 
	 top: 1103px; 
	 position: absolute; 
	 width: 59px;
	 height: 13px;
	 z-index:24;
} 

 #Page17000001 
{ 
	 left: 774px; 
	 top: 1066px; 
	 position: absolute; 
	 width: 42px;
	 height: 9px;
	 z-index:25;
} 

 #Page102 
{ 
	 left: 792px; 
	 top: 1077px; 
	 position: absolute; 
	 width: 29px;
	 height: 12px;
	 z-index:26;
} 

 #Page150 
{ 
	 left: 770px; 
	 top: 1078px; 
	 position: absolute; 
	 width: 19px;
	 height: 10px;
	 z-index:27;
} 

 #Page1_13 
{ 
	 left: 529px; 
	 top: 1026px; 
	 position: absolute; 
	 width: 35px;
	 height: 13px;
	 z-index:28;
} 

 #Page170000 
{ 
	 left: 523px; 
	 top: 1058px; 
	 position: absolute; 
	 width: 42px;
	 height: 9px;
	 z-index:29;
} 

 #Page101 
{ 
	 left: 543px; 
	 top: 1068px; 
	 position: absolute; 
	 width: 29px;
	 height: 12px;
	 z-index:30;
} 

 #Page145 
{ 
	 left: 524px; 
	 top: 1069px; 
	 position: absolute; 
	 width: 19px;
	 height: 10px;
	 z-index:31;
} 

 #Page140000 
{ 
	 left: 516px; 
	 top: 1099px; 
	 position: absolute; 
	 width: 60px;
	 height: 13px;
	 z-index:32;
} 

 #Page1_14 
{ 
	 left: 254px; 
	 top: 1041px; 
	 position: absolute; 
	 width: 101px;
	 height: 12px;
	 z-index:33;
} 

 #Page173000 
{ 
	 left: 279px; 
	 top: 1062px; 
	 position: absolute; 
	 width: 41px;
	 height: 9px;
	 z-index:34;
} 

 #Page1_15 
{ 
	 left: 295px; 
	 top: 1074px; 
	 position: absolute; 
	 width: 28px;
	 height: 12px;
	 z-index:35;
} 

 #Page153 
{ 
	 left: 274px; 
	 top: 1074px; 
	 position: absolute; 
	 width: 19px;
	 height: 10px;
	 z-index:36;
} 

 #Page135000_0 
{ 
	 left: 274px; 
	 top: 1104px; 
	 position: absolute; 
	 width: 59px;
	 height: 13px;
	 z-index:37;
} 

 #Page102_0 
{ 
	 left: 756px; 
	 top: 1171px; 
	 position: absolute; 
	 width: 81px;
	 height: 10px;
	 z-index:38;
} 

 #Page101_0 
{ 
	 left: 506px; 
	 top: 1166px; 
	 position: absolute; 
	 width: 82px;
	 height: 10px;
	 z-index:39;
} 

 #Page1_16 
{ 
	 left: 263px; 
	 top: 1171px; 
	 position: absolute; 
	 width: 82px;
	 height: 10px;
	 z-index:40;
} 

 #Page1_17 
{ 
	 left: 292px; 
	 top: 1181px; 
	 position: absolute; 
	 width: 518px;
	 height: 30px;
	 z-index:41;
} 

 #Page1_18 
{ 
	 left: 921px; 
	 top: 725px; 
	 position: absolute; 
	 width: 52px;
	 height: 11px;
	 z-index:42;
} 

 #Page1_19 
{ 
	 left: 58px; 
	 top: 561px; 
	 position: absolute; 
	 width: 966px;
	 height: 162px;
	 z-index:43;
} 

 #Page1_20 
{ 
	 left: 499px; 
	 top: 754px; 
	 position: absolute; 
	 width: 96px;
	 height: 18px;
	 z-index:44;
} 

 #Page1_21 
{ 
	 left: 287px; 
	 top: 726px; 
	 position: absolute; 
	 width: 59px;
	 height: 12px;
	 z-index:45;
} 

 #Page1_22 
{ 
	 left: 745px; 
	 top: 723px; 
	 position: absolute; 
	 width: 53px;
	 height: 13px;
	 z-index:46;
} 

 #Page1_23 
{ 
	 left: 52px; 
	 top: 1300px; 
	 position: absolute; 
	 width: 165px;
	 height: 33px;
	 z-index:47;
} 

 #Page1_24 
{ 
	 left: 175px; 
	 top: 1340px; 
	 position: absolute; 
	 width: 52px;
	 height: 17px;
	 z-index:48;
} 

 #Page1_25 
{ 
	 left: 124px; 
	 top: 1340px; 
	 position: absolute; 
	 width: 37px;
	 height: 17px;
	 z-index:49;
} 

 #Page1_26 
{ 
	 left: 40px; 
	 top: 1338px; 
	 position: absolute; 
	 width: 56px;
	 height: 17px;
	 z-index:50;
} 

 #Page1_27 
{ 
	 left: 97px; 
	 top: 39px; 
	 position: absolute; 
	 width: 135px;
	 height: 1371px;
	 z-index:51;
} 

 #Page1_28 
{ 
	 left: 763px; 
	 top: 1042px; 
	 position: absolute; 
	 width: 70px;
	 height: 16px;
	 z-index:52;
} 

 #Page1_29 
{ 
	 left: 298px; 
	 top: 527px; 
	 position: absolute; 
	 width: 500px;
	 height: 608px;
	 z-index:53;
} 

 #Page1_30 
{ 
	 left: 103px; 
	 top: 733px; 
	 position: absolute; 
	 width: 53px;
	 height: 12px;
	 z-index:54;
} 

 #Page1AALIAW1 
{ 
	 left: 103px; 
	 top: 547px; 
	 position: absolute; 
	 width: 880px;
	 height: 486px;
	 z-index:55;
} 

 #Page1_31 
{ 
	 left: 790px; 
	 top: 131px; 
	 position: absolute; 
	 width: 188px;
	 height: 310px;
	 z-index:56;
} 

 #Page1_32 
{ 
	 left: 803px; 
	 top: 131px; 
	 position: absolute; 
	 width: 173px;
	 height: 295px;
	 z-index:57;
} 

 #Page1_33 
{ 
	 left: 755px; 
	 top: 112px; 
	 position: absolute; 
	 width: 252px;
	 height: 351px;
	 z-index:58;
} 
